@model IEnumerable<Amazon.ViewModels.ProductViewModel> 

    @section scripts  {

<script type="text/javascript">
var selectedCategorys = $("#Department").val();
var SubCategorySelects = $("#Category").val();

    $(document).ready(function() {
        });


$('#Department').change(function () {
    selectedCategorys = $("#Department").val()
    var selectedCategory = $("#Department").val();
    var SubCategorySelect = $('#Category');
    SubCategorySelect.empty();
    if (selectedCategory != null && selectedCategory != '') {
        $.getJSON('@Url.Action("GetCategories")', { id: selectedCategory }, function (SubCategory) {
            if (SubCategory != null && !jQuery.isEmptyObject(SubCategory)) {
                SubCategorySelect.append($('<option/>', {
                    value: null,
                    text: "Select Category"
                }));
                $.each(SubCategory, function (index, SubCategory) {
                    SubCategorySelect.append($('<option/>', {
                        value: SubCategory.value,
                        text: SubCategory.text 
                    }));
                });
            };
        });
    }
});

$('#Category').change(function () {
SubCategorySelects = $("#Category").val()
});

</script>
    }

@{
    ViewData["Title"] = "Items";
}
 <p>  
        @using (Html.BeginForm("Index", "Items", FormMethod.Get))  
        {  <form  method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             @Html.TextBox("Search") <input type="submit" value="Search" />  
             </form> 
        }  
    </p>

<h1><strong> <font color="Brown">Items </font></strong></h1>



@foreach (var item in Model) {
    <div>
<dl class="row">
        <h3><strong><font color="Green">@Html.DisplayFor(items => item.CtgyNme)</font></strong></h3>
     </dl>
</div>

<div>
    <dl class="row">
        <div class="col-md-4">
          <dd class = "col-sm-10">
            @if (item.ProdImg != null)
            {
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ProdImg))" style=" max-height:300px; max-width:300px"/>
            }
         </dd>
         </div>
          <div class="col-md-8 well">
         <div>
        <dd class = "col-sm-10">
            <p><strong>@Html.DisplayFor(items => item.ProdNme)</strong></p>
        </dd>
        <dd class = "col-sm-10">
             @Html.DisplayFor(items => item.ProdDesc)
        </dd>
        <dd class = "col-sm-10">
              <p><font color="brown"> <strong>Eligible for FREE Shiping and FREE Return </strong></font></p> 
        </dd>
        <dd class = "col-sm-10">
              <p><font color="green">Climate Pledge Friendly</font></p> 
        </dd>
        <dd class = "col-sm-10">
              <p>Gifts options not available right now.</p> 
        </dd>
         <dd class = "col-sm-10">
            <p><font color="brown">Price:  @Html.DisplayFor(items => item.ProdPrce)$</font></p> 
        </dd>
             @if (item.ProdQnty > 0)
              {
                <p><font color="green">In Stock</font></p>
               }
              @if (item.ProdQnty <= 0)
               {
                 <p><font color="red">Out of Stock</font></p>
               }
        <div>
         <dd class = "col-sm-10">
              <a a asp-controller="cart" asp-action="buy" asp-route-id="@item.ProdId">Add to Cart</a> 
        </dd>
         <br>
       </div>
         </div>
         </div>
    </dl>
</div>

 }
